* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; /* Montserrat font applied globally */
}

:root {
    --text-clr: white;
    --hidden-text-clr: rgb(170, 170, 170);
    --border-radius: 0.45rem;
    --backdrop-url: url("");
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-clr);
    color: var(--text-clr);
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

#avatar {
    border-radius: 50%;
}

.display {
    min-width: 20vw;
    padding: 1.75em;
    background: var(--fg-clr);
    border-radius: var(--border-radius);
}

.userinfo {
    background-image:
        linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.3)
        ),
        var(--backdrop-url);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: var(--border-radius);
    padding: 1em 1em;

    display: grid;
    grid-template-columns: min-content 1fr max-content;
    gap: 0 12px;
    align-items: center;
    grid-template-areas:
        "avatar display view"
        "avatar username view"
        "avatar status view";
}

#avatar {
    grid-area: avatar;
}
#username {
    color: var(--hidden-text-clr);
    grid-area: username;
}
#display {
    grid-area: display;
}
#status {
    grid-area: status;
}
#viewuser {
    grid-area: view;
}

.activity {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 0px 12px;
    align-items: center;
    grid-template-areas: 
        "images name"
        "images details"
        "images state";
}

.act-name {
    font-weight: 700;
    grid-area: name;
}
.act-details {
    grid-area: details;
}
.act-state {
    grid-area: state;
}

.act-images {
    position: relative;
    grid-area: images;
}

.largeimage {
    border-radius: var(--border-radius);
}

.smallimage {
    position: absolute;
    bottom: -4px;
    right: -4px;

    border-radius: 50%;
    border: 4px solid var(--fg-clr);
}

.activities {
    display: grid;
    gap: 16px 0;
}

.return {
    position: absolute;
    top: 8px;
    left: 8px;
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    padding: 4px 8px;

    border: transparent;
    border-radius: var(--border-radius);
    color: var(--text-clr);
    background: var(--accent-clr);
}

.main-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    filter: blur(5px) brightness(30%);
    pointer-events: none;
}

.blurry-container {
    backdrop-filter: blur(8px); /* Adjust the blur level as needed */
    border: .1vmin solid rgba(219, 219, 219, 0.1);
    box-shadow: 0 .5vmin 1vmin rgba(0, 0, 0, .4);
    border-radius: 4vmin; /* Smooth rounded corners */
    padding: 20px; /* Spacing inside the container */
    margin: 20px; /* Spacing outside the container */
    display: inline-block; /* or 'inline-flex' if you prefer flexbox layout */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 20px auto; /* Center the container */
    transition: height 1s ease, width 1s ease; /* Adjust properties and duration as needed */
}

.group {
    width: 100%; /* Ensure it takes full width of its parent */
    position: relative; /* Maintain relative positioning */
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Arrange items in a horizontal row */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 40px; /* Space between icons */
}

/* Flex container for buttons */
.group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.icon {
    color: hsla(0,0%,83%,.25);
    font-size: 30px;
    transition: color 0.5s, transform 0.3s; /* Smooth transition for color and shadow */
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
  
  .group:hover .icon {
    color: #fff; /* Change icon color on hover */
    transform: scale(1.1);
  }


.loadout-icon {

    transition: color 0.5s, transform 0.3s; /* Smooth transition */
}

.loadout-icon:hover {
    color: #fff; /* Color change on hover */
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

  
  .label {
    opacity: 0;
    text-align: center;
    visibility: hidden; /* Initially hide the label */
    transition: opacity 0.3s, visibility 0.3s;
    position: absolute;
    left: 50%; /* Position the label halfway across the parent */
    transform: translateX(-50%); /* Shift the label back to the left by half its own width */
    bottom: -40px; /* Position the label below the icon */
    text-align: center;
    font-size: medium;
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 5px;
    white-space: nowrap; /* Prevents the label from breaking into multiple lines */
}

.group:hover .label {
    opacity: .5;
    visibility: visible; /* Show the label on hover */
}

.content-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align children to the start (left) */
    gap: 20px; /* Space between items */
}

.typing-container {
    text-align: left; /* Centers the typing animation horizontally */
    margin-left: auto;
    margin-right: auto;
}

.typing-animation {
    display: inline-block; /* Allows the text to be wrapped and centered */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for coding look */
    color: white; /* Text color */
    font-size: 16px;
    white-space: nowrap;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    max-width: 50%;
    text-transform: initial;
}

.cursor {
    display: inline-block;
    vertical-align: bottom; /* Align with the bottom of the text */
    background-color: #DAFDBA;
    width: 14px; /* Width of the cursor */
    height: 2px; /* Height of the cursor */
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to { visibility: hidden; }
}

.spotify-activity {
    /* Styling for the Spotify container */
    margin-top: 20px; /* Space from other activities */
}

.spotify-image {
    width: 50px; /* Example size */
    height: 50px;
    /* Additional styling as needed */
}

.spotify-song, .spotify-artist {
    /* Styling for song title and artist */
    /* Example: */
    font-size: 14px;
    color: var(--text-clr);
}

/* Define keyframes for the gradient animation */
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: -300% 50%; }
}

.gradient-link {
    /* More natural and smoother rainbow gradient */
    background: linear-gradient(90deg, 
                                rgb(255, 0, 0),     /* Red */
                                rgb(255, 127, 0),   /* Orange */
                                rgb(255, 255, 0),   /* Yellow */
                                rgb(127, 255, 0),   /* Light Green */
                                rgb(0, 255, 0),     /* Green */
                                rgb(0, 127, 255),   /* Light Blue */
                                rgb(0, 0, 255),     /* Blue */
                                rgb(75, 0, 130),    /* Indigo */
                                rgb(148, 0, 211),   /* Violet */
                                rgb(75, 0, 130),    /* Indigo */
                                rgb(0, 0, 255),     /* Blue */
                                rgb(0, 127, 255),   /* Light Blue */
                                rgb(0, 255, 0),     /* Green */
                                rgb(127, 255, 0),   /* Light Green */
                                rgb(255, 255, 0),   /* Yellow */
                                rgb(255, 127, 0),   /* Orange */
                                rgb(255, 0, 0));    /* Red */
    background-size: 2000% 2000%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    transition: text-decoration-color 0.3s ease, text-decoration-thickness 0.3s, text-decoration-style 0.3s ease;

    animation: gradient-animation 100s linear infinite;
}

.gradient-link:hover {
    text-decoration: underline; /* Add an underline on hover */
    text-decoration-color: rgba(255, 255, 255, 0.3); /* Use a semi-transparent white for the underline */
    text-decoration-thickness: 1px; /* Set the thickness of the underline */
    
}


#animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .loadout-title-container {
    text-align: center; /* Centers the text within the container */
    margin: 20px 0; /* Adds some space above and below the container */
}

.loadout-title-container h1 {
    font-size: 2em; /* Adjust the size as needed */
    margin-bottom: 10px; /* Adds some space between the title and the sentence */
}

.loadout-title-container p {
    font-size: 1em; /* Smaller font size for the sentence */
    color: #666; /* Optional: Changes the color of the sentence text */
    max-width: 600px; /* Limits the width of the sentence */
    margin: 0 auto; /* Centers the sentence block */
}

.pc-section, .peripherals-section {
    max-width: 800px; /* Adjust to match the width of the PC section */
    margin: auto; /* Center the sections */
    overflow-y: auto; /* Make content scrollable */
    margin-bottom: 60px;
    text-align: center;
}

.pc-section table, .peripherals-section table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Makes borders look nice */
    margin-bottom: 20px; /* Space below the table */
    margin-top: 15px;
}

.pc-section td, .peripherals-section td {
    border: 1px solid #ddd; /* Light gray border */
    min-width: 100px;
    padding: 8px; /* Padding for content */
    text-align: center; /* Align text to the center */
}

/* Style for hover effect on rows */
.pc-section tr:hover, .peripherals-section tr:hover {
    background-color: #dddddd67;
}

.back-to-home-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back-to-home-icon i { /* Directly target the icon */
    font-size: 30px;
    color: hsla(0,0%,83%,.25);
    transition: color 0.5s, transform 0.3s;
}

.back-to-home-icon i:hover { /* Hover effect on the icon */
    color: #fff;
    transform: scale(1.1);
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc; /* Adjust color as needed */
    margin: 30px auto;
    width: 10%;
}

.p-color {
    color: black !important; /* Replace with your desired color */
}